*{
	box-sizing: border-box;
	padding: 0;
	font-family: Helvetica;
}
h1{
	text-align: center;
	color: #fff;

}
h2{
	text-align: center;
	color: #fff;
	margin: 10px auto 20px;


}
div {

}
h4{
	width:400px;
	height: 400px;
	float: left;
	margin-right: 10px;
	align-items: center;
}

@media (min-width: 992px){
	.row{
		display: flex;
		flex-wrap: nowrap;
	}
	.marg{
		margin-right: 20px;
	}

}

@media (min-width: 768px) and (max-width: 991px){
}

#p1{
 	background-color: #bb86fc;
 	color: #000;
 	float: left;
 	margin-top:20px;
 	
	border-radius: 20px;
	box-shadow: 5px 5px 10px 2px #101010;
	
}

#p2{
	background-color: #3700b3;
	color: #f0f0f0;
	float: left;
	margin-top:20px; 
	
	border-radius: 20px;
	box-shadow: 5px 5px 10px 2px #101010; 
}

#p3{
	background-color: #03dac6;
	color: #000;
	
	float: left;
	margin-top:20px;
	
	border-radius: 20px;
	box-shadow: 5px 5px 10px 2px #101010;
}

.b1{
	
	font-weight: bold;
	text-align: center;
	margin-top: 10px;

}
.b2{
	
	font-weight: bold;
}
.b3{
	
	font-weight: bold;
}
body{
	background-color: #292929;
}
#header-nav{
	background-color:#61122f;
	border-radius: 0;
	border: 0;
}
#nav-bg{
	background-color: #141518;
}
#brand{
	font-size: 2.5em;
}
div > ul {
	text-align: center;
}
.navcol{
	flex-basis: 100%;
    flex-positive: 1;
    flex-grow: 1;
    flex-align: center;
    align-items: center;
}
#para{
	margin-left: 6px;
}
#mar{
	background-color: #fff;
}